*
    box-sizing: border-box;
    margin: 0;
    padding: 0;

body
    font-size: 0.45rem;

input
    border: none;    

input:focus
    outline: none;

$color: #FE4C0C;

.theme-color
    color: $color;

// 垂直水平居中
@mixin center-center
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    padding: 10px;
    min-width: 3rem;
    max-width: 10rem;
    text-align: center;

// 太长省略号
@mixin els
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

#tip
    @include center-center;
    z-index: 10;
    transition: all 0.2s;
    // background: rgba(0,0,0,0.5);

#messageTip
    @include center-center;
    z-index: 11;
    transition: all 0.2s;
    font-size: 0.4rem;
    color: #fff;
    img, i
        display: block;
        margin: 0 auto 0.3rem;
        width: 0.4rem;
        height: 0.4rem;

@mixin font-small
    font-size: 0.3rem; // 12px
    color: #888888;
@mixin font-mid
    font-size: 0.44rem;
    color: #2B2B2B;

.left
    float: left;

.right
    float: right;

.btn
    height: 1.25rem;
    line-height: 1.25rem;
    background: $color;
    font-size: 0.48rem;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    margin: 1rem 0 0.5rem;